* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  width: 100vw;
  height: 100vh;
  padding: 50px;
  background-color: bisque;
}
.main-container {
  width: 100%;
  display: flex;
}
h1 {
  text-transform: capitalize;
}
.login-form {
  width: 60%;
  padding: 10px;
  background-color: blueviolet;
}
.display-data {
  width: 40%;
  background-color: blue;
}
.login-form form {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
label {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: capitalize;
  color: aliceblue;
  /* margin-bottom: 6px; */
}
input {
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  outline: none;
  padding: 10px;
}
button.btn {
  background-color: brown;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: aliceblue;
  text-transform: capitalize;
  padding: 10px;
  border-radius: 8px;
}
